<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Bank account</title>
</head>
<!--
Задача 4. “Рахунок у банку”
Вимоги:
1) Спочатку сума дорівнює 0грн. Змінити суму у гривнях можна або зарахуванням на рахунок, або зняттям.
2) Сума автоматично переводиться у долари та євро (фіксований курс задається у data).
3) можливість зарахувати суму (контролювати, щоб не була від’ємною)
4) можливість зняти (щоб не можна зняти більше ніж є на рахунку)
5) при виконанні зняття і зарахування коштів вираховувати 3% від суми (відображати кількість відсотків автоматично)

При зміні суми :
- якщо було зняття, то суму відоражати червоним
- якщо було зарахування, то суму відображати зеленим
Якщо сума валюти менша за 100 то відображати червоним кольором, інакше - зеленим

-->

<body>
    <style>
        .red {
            color: rgb(195, 16, 16);
        }

        .green {
            color: rgb(75, 182, 123)
        }
    </style>
    <div id="app">

        <p>Сума на рахунку: <span :class="money_color">{{money}}</span> грн.</p>
        <label for="">Зарахувати на рахунок:</label>
        <input type="number" v-model.number="credit">
        <input type="submit" value="Зарахувати" @click="calcCredit">
        <br>
        <label for="">Зняти з рахунку:</label>
        <input type="number" v-model.number="debit">
        <button @click="calcDebit">Зняти</button>
        <p v-if="negative">Не можна зарахувати від'ємне число!!!</p>
        <span v-if="lesserSum">На рахунку не вистачає грошей!!!</span>
        <!-- <p>
            
        </p> -->
        <p>Відсотки за обслуговування: ${{percentage}} грн.</p>
        <hr>
        <p>Сума у доларах:$ <span :class="currency_color">{{getCurrency(this.dollar)}}</span></p>
        <p>Сума у євро: € <span :class="currency_color">{{getCurrency(this.euro)}}</span></p>
    </div>

    <script>
        const { createApp } = Vue
        const percent = 3;
        let banka = 0;
        createApp({

            data() {
                return {
                    money: 0,
                    debit: 0,
                    credit: 0,
                    euro: 43.39,
                    dollar: 42.16,
                    negative: false,
                    lesserSum: false,
                    percentage: 0,
                    money_color: "black",
                    currency_color: "black",
                }
            },
            methods: {
                isNumberNegative(attr) {
                    if (attr < 0) {
                        this.negative = true;
                    } else {
                        this.negative = false;
                    }
                    // }
                },
                returnAlert(debit, sum) {
                    if (debit > sum) {
                        this.lesserSum = true;
                    } else {
                        this.lesserSum = false;
                    }
                },
                calcPercentage(val) {
                    banka = (val / 100 * percent).toFixed(2);
                    banka = parseFloat(banka);
                    this.money = (this.money - banka).toFixed(2);
                    this.money = parseFloat(this.money);
                    this.percentage = (banka + this.percentage).toFixed(2);
                    this.percentage = parseFloat(this.percentage);
                    banka = 0;
                },
                getCurrency(currency) {
                    let total_currency = this.money / currency;
                    if (total_currency < 100) {
                        this.currency_color = "red"
                    } else { this.currency_color = "green" }
                    return (total_currency).toFixed(2)
                },
                calcCredit() {
                    this.isNumberNegative(this.credit);
                    if (this.negative == false) {
                        this.money = this.money + this.credit;
                        this.calcPercentage(this.credit)
                        this.money_color = "green";
                    }
                }, calcDebit() {
                    this.isNumberNegative(this.debit);
                    if (this.negative == false && this.debit <= this.money) {
                        this.money = this.money - this.debit;
                        this.calcPercentage(this.debit)
                        this.money_color = "red";
                    }
                    this.returnAlert(this.debit, this.money)
                }

            },
            computed: {
                checkMoney() {

                    return this.money
                }
                //this.money = this.money + this.credit;
                // calcCredit: {
                //     get() {
                //         return this.credit
                //     },
                //     set(val) {
                //         console.log(val);
                //     }
                // }
            }
        }).mount('#app')
    </script>
</body>

</html>